
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STYLiSH 2021</title>
    <!-- <link href="./styles/reset.css" rel="stylesheet" />
    <link href="./styles/header.css" rel="stylesheet" />
    <link href="./styles/footer.css" rel="stylesheet" />
    <link href="./styles/index.css" rel="stylesheet" /> 
    <link rel='stylesheet' id='bootstrap-grid' href='bootstrap.css'/> -->
    <link rel='stylesheet' href="/static/css/reset.css"/>
    <link rel='stylesheet' href="/static/css/product_list.css"/>
  </head>
  <body>
    <div class="container nav">
      <a href="/stylish-all" class="tag col-8"><img src="https://aws-bucket-addie.s3.amazonaws.com/stylish_img/logo.png" id="logo"  class="img-fluid" alt="Responsive image"></a>
      <nav class="tags  offset-2 col-2 d-flex justify-content-center">
        <a href="/stylish-women" class="tag women">女裝</a>
        <a href="/stylish-men" class="tag men">男裝</a>
        <a href="/stylish-accessories" class="tag accessories">配件</a>
        <a href="/" class="tag">首頁</a>
      </nav>
    </div>
    <main class="container">
      <div id="campaigns"></div>
      <div id="products" class="row"></div>
      <div id="no-products"></div>
    </main>
    <footer>
      <nav class="footer">
        <ul>
          <li>關於 Stylish</li>
          <li>服務條款</li>
          <li>隱私政策</li>
          <li>聯絡我們</li>
        </ul>
      </nav>
      <div class="rights">© 2021. All rights reserved.</div>
    </footer>
    <script src="/static/js/product_list.js"></script>
  </body>
</html>
